.nftCard_container {
    margin: 8px;
    padding: 24px;
    border: none;
    border-radius: 8px;
    background-color: #16151A;
    box-shadow: 0 3px 20px 0px rgba(0,0,0,.12);
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition-duration: 0.3s;
    width: 100%;
    &:not(.no-hover):hover {
        transform: translateY(-5px);
    }

    img {
        width: 100%;
        height: 222px;
        border-radius: 6px;
        object-fit: cover;
        cursor: pointer;
    }

    .cardContent {
        padding-top: 35px;
        color: #f5f5ff;
        width: 100%;
        margin:0px;

        .tokenId {
            transition: 0.3s;
            font-size: 21px;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                color: #4528DC;
            }
        }

        .level {
            transition: 0.3s;
            font-size: 21px;
            font-weight: 600;
            cursor: pointer;
        }

        .nameBox {
            display: flex;
            align-items: center;
            column-gap: 10px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            transition: .3s;
            cursor: pointer;
            margin: 16px 0px;

            .waterPrint {
                color: #8e8e8e;
                font-size: 18px;
            }

            &:hover {
                color: #4528DC;

                .waterPrint {
                    color: #8e8e8e;
                }
            }
        }

        .powerBox {
            width: 100%;
            column-gap: 10px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .xpvalue {
            font-size: 21px;
            font-weight: 600;
            color: #f5f5ff;
        }

        .xpBar {
            width: 100%;
            height: 8px;
            border-radius: 3px;
            border: 1px solid blue;
            overflow: hidden;
        }

    }
}