.layouts_container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.justify_content_center {
    display: flex;
    justify-content: center;
}

.justify_content_space_between {
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: "fontAwesome";
    src: url("../../fonts/fontawesome/webfonts/fa-solid-900.ttf");
}

@font-face {
    font-family: "fontAwesomeBrands";
    src: url("../../fonts/fontawesome/webfonts/fa-brands-400.ttf");
}

@font-face {
    font-family: "fontAwesomeRegular";
    src: url("../../fonts/fontawesome/webfonts/fa-regular-400.ttf");
}

.btn_bordered_white {
    position: relative;
    border: 2px solid #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 16px 34px;
    column-gap: 5px;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    font-weight: 700;
    color: #f9f9f9;
    z-index: 2;
    width: max-content;

    &::after {
        position: absolute;
        content: "";
        height: calc(100% + 4px);
        width: calc(100% + 4px);
        background-image: linear-gradient(135deg, rgb(69, 40, 220) 10%, rgb(87, 4, 138));
        top: -2px;
        left: -2px;
        border-radius: 100px;
        opacity: 0;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        z-index: -1;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover {
        border-color: transparent;
        box-shadow: 10px 25px rgb(0 0 0 / 10%);
    }
}

.btn_bordered_white.red {
    border: 2px solid red;
}



.btn_bordered_white.green {
    border: 2px solid green;
}

.btn_bordered_white.blue {
    border: 2px solid blue;
}

.btn_bordered_white.small {
    padding: 12px 18px;
}
