.nav_container {
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 25px;
    z-index: 99;
    background-color: #121117;

    .container {
        max-width: 1140px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #f9f9f9;

        .navItems {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;

            .item {
                color: #f9f9f9;
                font-size: 16px;
                font-weight: 600;
                padding: 8px 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                row-gap: 3px;
                cursor: pointer;
            }
        }

        .item {
            color: #f9f9f9;
            font-size: 1rem;
            font-weight: 600;
            padding: 0.5rem, 1rem;
            line-height: 24px;
            display: flex;
            align-items: center;
            row-gap: 3px;
            cursor: pointer;
        }

        .walletBox {
            margin-left: 16px;
            font-weight: 700;
        }
    }
}




.dropdown {
    position: relative;
    &:hover {
        .menu {
            opacity: 1;
            visibility: visible;
        }
    }

    .menu {
        position: absolute;
        top: 100%;
        opacity: 0;
        background-color: #eee;
        width: max-content;
        min-width: 14.375rem;
        padding: 10px 0px;
        border: none;
        border-radius: 2px;
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
        z-index: 9999;
        color: #212529;
        display: block;
        transition: .3s;
        visibility: hidden;

        .menu_item {
            display: flex;
            align-items: center;
            margin: 0px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            padding: 10px 20px;
            transition: .3s;

            &:hover {
                color: #4528DC;
            }
        }
    }
}